block var

doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="/static/favicon.ico")
    link(rel="apple-touch-icon", type="image/png", href="/static/apple-touch-icon.png")
    link(rel="stylesheet", type="text/css", href="/static/styles/globals.css")
    title Site com Pug
  
  block script

  body
    block content